<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shmarket.mapper.AddressesMapper">
	<resultMap id="BaseResultMap"
		type="com.yc.shmarket.pojo.Addresses">
		<id column="addid" jdbcType="INTEGER" property="addid" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="addname" jdbcType="VARCHAR" property="addname" />
		<result column="addphone" jdbcType="VARCHAR"
			property="addphone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="addstate" jdbcType="INTEGER"
			property="addstate" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		addid, uid, addname, addphone, address, addstate
	</sql>
	<select id="selectByExample"
		parameterType="com.yc.shmarket.pojo.AddressesExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from addresses
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from addresses
		where addid = #{addid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from addresses
		where addid = #{addid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.yc.shmarket.pojo.AddressesExample">
		delete from addresses
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.yc.shmarket.pojo.Addresses">
		insert into addresses (addid, uid, addname,
		addphone, address, addstate
		)
		values (#{addid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
		#{addname,jdbcType=VARCHAR},
		#{addphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{addstate,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.yc.shmarket.pojo.Addresses">
		insert into addresses
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="addid != null">
				addid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="addname != null">
				addname,
			</if>
			<if test="addphone != null">
				addphone,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="addstate != null">
				addstate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="addid != null">
				#{addid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="addname != null">
				#{addname,jdbcType=VARCHAR},
			</if>
			<if test="addphone != null">
				#{addphone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="addstate != null">
				#{addstate,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.yc.shmarket.pojo.AddressesExample"
		resultType="java.lang.Long">
		select count(*) from addresses
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update addresses
		<set>
			<if test="record.addid != null">
				addid = #{record.addid,jdbcType=INTEGER},
			</if>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=INTEGER},
			</if>
			<if test="record.addname != null">
				addname = #{record.addname,jdbcType=VARCHAR},
			</if>
			<if test="record.addphone != null">
				addphone = #{record.addphone,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				address = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.addstate != null">
				addstate = #{record.addstate,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update addresses
		set addid = #{record.addid,jdbcType=INTEGER},
		uid = #{record.uid,jdbcType=INTEGER},
		addname = #{record.addname,jdbcType=VARCHAR},
		addphone = #{record.addphone,jdbcType=VARCHAR},
		address = #{record.address,jdbcType=VARCHAR},
		addstate = #{record.addstate,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.yc.shmarket.pojo.Addresses">
		update addresses
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="addname != null">
				addname = #{addname,jdbcType=VARCHAR},
			</if>
			<if test="addphone != null">
				addphone = #{addphone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="addstate != null">
				addstate = #{addstate,jdbcType=INTEGER},
			</if>
		</set>
		where addid = #{addid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.yc.shmarket.pojo.Addresses">
		update addresses
		set uid = #{uid,jdbcType=INTEGER},
		addname = #{addname,jdbcType=VARCHAR},
		addphone = #{addphone,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		addstate = #{addstate,jdbcType=INTEGER}
		where addid = #{addid,jdbcType=INTEGER}
	</update>
</mapper>