<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shmarket.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.yc.shmarket.pojo.Orders">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="onumber" jdbcType="VARCHAR" property="onumber" />
    <result column="ostate" jdbcType="INTEGER" property="ostate" />
    <result column="ocreate_time" jdbcType="TIMESTAMP" property="ocreateTime" />
    <result column="opay_time" jdbcType="TIMESTAMP" property="opayTime" />
    <result column="odeliver_time" jdbcType="TIMESTAMP" property="odeliverTime" />
    <result column="ofinish_time" jdbcType="TIMESTAMP" property="ofinishTime" />
    <result column="addid" jdbcType="INTEGER" property="addid" />
    <result column="ops" jdbcType="VARCHAR" property="ops" />
    <result column="oall_charge" jdbcType="DECIMAL" property="oallCharge" />
    <result column="oall_price" jdbcType="DECIMAL" property="oallPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, onumber, ostate, ocreate_time, opay_time, odeliver_time, ofinish_time, addid, 
    ops, oall_charge, oall_price
  </sql>
  <select id="selectByExample" parameterType="com.yc.shmarket.pojo.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.shmarket.pojo.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.shmarket.pojo.Orders">
    insert into orders (oid, onumber, ostate, 
      ocreate_time, opay_time, odeliver_time, 
      ofinish_time, addid, ops, 
      oall_charge, oall_price)
    values (#{oid,jdbcType=INTEGER}, #{onumber,jdbcType=VARCHAR}, #{ostate,jdbcType=INTEGER}, 
      #{ocreateTime,jdbcType=TIMESTAMP}, #{opayTime,jdbcType=TIMESTAMP}, #{odeliverTime,jdbcType=TIMESTAMP}, 
      #{ofinishTime,jdbcType=TIMESTAMP}, #{addid,jdbcType=INTEGER}, #{ops,jdbcType=VARCHAR}, 
      #{oallCharge,jdbcType=DECIMAL}, #{oallPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.shmarket.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="onumber != null">
        onumber,
      </if>
      <if test="ostate != null">
        ostate,
      </if>
      <if test="ocreateTime != null">
        ocreate_time,
      </if>
      <if test="opayTime != null">
        opay_time,
      </if>
      <if test="odeliverTime != null">
        odeliver_time,
      </if>
      <if test="ofinishTime != null">
        ofinish_time,
      </if>
      <if test="addid != null">
        addid,
      </if>
      <if test="ops != null">
        ops,
      </if>
      <if test="oallCharge != null">
        oall_charge,
      </if>
      <if test="oallPrice != null">
        oall_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="onumber != null">
        #{onumber,jdbcType=VARCHAR},
      </if>
      <if test="ostate != null">
        #{ostate,jdbcType=INTEGER},
      </if>
      <if test="ocreateTime != null">
        #{ocreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opayTime != null">
        #{opayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="odeliverTime != null">
        #{odeliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ofinishTime != null">
        #{ofinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="ops != null">
        #{ops,jdbcType=VARCHAR},
      </if>
      <if test="oallCharge != null">
        #{oallCharge,jdbcType=DECIMAL},
      </if>
      <if test="oallPrice != null">
        #{oallPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.shmarket.pojo.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.onumber != null">
        onumber = #{record.onumber,jdbcType=VARCHAR},
      </if>
      <if test="record.ostate != null">
        ostate = #{record.ostate,jdbcType=INTEGER},
      </if>
      <if test="record.ocreateTime != null">
        ocreate_time = #{record.ocreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.opayTime != null">
        opay_time = #{record.opayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.odeliverTime != null">
        odeliver_time = #{record.odeliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ofinishTime != null">
        ofinish_time = #{record.ofinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addid != null">
        addid = #{record.addid,jdbcType=INTEGER},
      </if>
      <if test="record.ops != null">
        ops = #{record.ops,jdbcType=VARCHAR},
      </if>
      <if test="record.oallCharge != null">
        oall_charge = #{record.oallCharge,jdbcType=DECIMAL},
      </if>
      <if test="record.oallPrice != null">
        oall_price = #{record.oallPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set oid = #{record.oid,jdbcType=INTEGER},
      onumber = #{record.onumber,jdbcType=VARCHAR},
      ostate = #{record.ostate,jdbcType=INTEGER},
      ocreate_time = #{record.ocreateTime,jdbcType=TIMESTAMP},
      opay_time = #{record.opayTime,jdbcType=TIMESTAMP},
      odeliver_time = #{record.odeliverTime,jdbcType=TIMESTAMP},
      ofinish_time = #{record.ofinishTime,jdbcType=TIMESTAMP},
      addid = #{record.addid,jdbcType=INTEGER},
      ops = #{record.ops,jdbcType=VARCHAR},
      oall_charge = #{record.oallCharge,jdbcType=DECIMAL},
      oall_price = #{record.oallPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.shmarket.pojo.Orders">
    update orders
    <set>
      <if test="onumber != null">
        onumber = #{onumber,jdbcType=VARCHAR},
      </if>
      <if test="ostate != null">
        ostate = #{ostate,jdbcType=INTEGER},
      </if>
      <if test="ocreateTime != null">
        ocreate_time = #{ocreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opayTime != null">
        opay_time = #{opayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="odeliverTime != null">
        odeliver_time = #{odeliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ofinishTime != null">
        ofinish_time = #{ofinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addid != null">
        addid = #{addid,jdbcType=INTEGER},
      </if>
      <if test="ops != null">
        ops = #{ops,jdbcType=VARCHAR},
      </if>
      <if test="oallCharge != null">
        oall_charge = #{oallCharge,jdbcType=DECIMAL},
      </if>
      <if test="oallPrice != null">
        oall_price = #{oallPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.shmarket.pojo.Orders">
    update orders
    set onumber = #{onumber,jdbcType=VARCHAR},
      ostate = #{ostate,jdbcType=INTEGER},
      ocreate_time = #{ocreateTime,jdbcType=TIMESTAMP},
      opay_time = #{opayTime,jdbcType=TIMESTAMP},
      odeliver_time = #{odeliverTime,jdbcType=TIMESTAMP},
      ofinish_time = #{ofinishTime,jdbcType=TIMESTAMP},
      addid = #{addid,jdbcType=INTEGER},
      ops = #{ops,jdbcType=VARCHAR},
      oall_charge = #{oallCharge,jdbcType=DECIMAL},
      oall_price = #{oallPrice,jdbcType=DECIMAL}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>